<div layout="row" layout-align="center center" flex class="container">
  <div id="left-box" flex="20">
    <div layout="column">
      <span class="logo">
        AUTO CORN PLANT
      </span>
      <div layout-padding layout-margin layout="row" layout-align="center center" class="status-label">
        <div ng-class="(missionController.StatusRobot[0].robot ==1)?'status-on':'status-off'">
        </div>
        <span class="status-robot" flex>
          ROBOT
        </span>
      </div>
      <div layout-padding layout-margin layout="row" layout-align="center center" class="status-label">
        <div ng-class="(missionController.StatusRobot[0].gps ==1)?'status-on':'status-off'">
        </div>
        <span class="status-gps" flex>
          GPS
        </span>
      </div>
      <div layout-padding layout-margin layout="row" layout-align="center center" class="status-label">
        <div ng-class="(missionController.StatusRobot[0].mcu ==1)?'status-on':'status-off'">
        </div>
        <span class="status-mcu" flex>
          MCU
        </span>
      </div>
      <div layout-padding layout-margin layout="row" layout-align="center center" class="status-label">
        <div class="status-on">
        </div>
        <span class="status-mode" flex>
          {{(missionController.StatusRobot[0].mode == 0)?'MANUAL':''}}
          {{(missionController.StatusRobot[0].mode == 1)?'SemiAuto':''}}
          {{(missionController.StatusRobot[0].mode == 2)?'Auto':''}}
        </span>
      </div>
    </div>
  </div>
  <div id="center-box" flex="70">
    <div layout="column" layout-align="center start">
      <span class="console-label">AUTOMATIC ROBOT UNDER SINGLE WEB APP_</span>
      <div layout="row" layout-align="center center" flex="50" class="MapVideoContainer">
        <div flex class="map-container" ng-show="missionController.ModeMap">
          <ui-gmap-google-map options="missionController.map.options" center="missionController.map.center" zoom="missionController.map.zoom" flex layout="row">
          </ui-gmap-google-map>
        </div>
        <div flex class="video-container" layout="row" layout-align="center center" ng-show="missionController.ImageStream">
          <img data-ng-src="{{missionController.VideoStreamingData}}" ng-click="missionController.getImagePixel($event)">
        </div>
        <div flex class="video-container" layout="row" layout-align="center center" ng-show="missionController.ImageProcess">
          <img data-ng-src="{{missionController.ProcessedImage}}">
        </div>
      </div>
      <div layout="row" layout-align="center center" class="console" flex="30">
        <div class="wheel" layout="row" layout-align="center center" flex="45">
            <!-- OUTER SHADOW -->
            <div class="de">
                <!-- TEXT -->
                <div class="den">
                    <!-- LINE -->
                    <hr class="line">
                    <hr class="line">
                    <hr class="line">

                    <!-- SWITCH -->
                    <div class="switch">

                        <!-- TEXT -->
                        <label for="switch_off" ng-click="missionController.ActiveMode('STATUS')"><span>STATUS</span></label>
                        <label for="switch_1" ng-click="missionController.ActiveMode('MAN')"><span>MAN</span></label>
                        <label for="switch_2" ng-click="missionController.ActiveMode('SEMI')"><span>SEMI</span></label>
                        <label for="switch_3" ng-click="missionController.ActiveMode('AUTO')"><span>AUTO</span></label>
                        <label for="switch_4" ng-click="missionController.ActiveMode('GP')"><span>GP</span></label>
                        <label for="switch_5" ng-click="missionController.ActiveMode('MAP')"><span>MAP</span></label>

                        <!-- INPUT -->
                        <input id="switch_off" name="switch" checked type="radio">
                        <input id="switch_1" name="switch" type="radio">
                        <input id="switch_2" name="switch" type="radio">
                        <input id="switch_3" name="switch" type="radio">
                        <input id="switch_4" name="switch" type="radio">
                        <input id="switch_5" name="switch" type="radio">

                        <!-- LIGHT -->
                        <div class="light"><span></span></div>

                        <!-- DOT -->
                        <div class="dot"><span></span></div>

                        <!-- CENTER -->
                        <div class="dene">
                            <div class="denem">
                                <div class="deneme">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="direction-control" layout-align="start center" layout="column" flex>
            <div layout="row" layout-align="center center">
              <md-button ng-click="missionController.startRobot()" aria-label="start">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/start.png">
                  <span>START</span>
                </div>
              </md-button>
              <md-button ng-click="missionController.forwardRobot()" aria-label="forward">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/go.png">
                  <span>{{(missionController.StatusRobot[0].mode ==0)?'FORWARD':'GO'}}</span>
                </div>
              </md-button>
              <md-button ng-click="missionController.stopRobot()" aria-label="stop">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/stop.png">
                  <span>STOP</span>
                </div>
              </md-button>
            </div>
            <div layout="row" layout-align="center center">
              <md-button aria-label="left" ng-click="missionController.rotateLeftRobot()" ng-show="(missionController.StatusRobot[0].mode == 0)?true:false">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/left.png">
                  <span>LEFT</span>
                </div>
              </md-button>
              <md-button aria-label="back" ng-click="missionController.backwardRobot()" ng-show="(missionController.StatusRobot[0].mode == 0)?true:false">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/back.png">
                  <span>BACK</span>
                </div>
              </md-button>
              <md-button aria-label="right" ng-click="missionController.rotateRightRobot()" ng-show="(missionController.StatusRobot[0].mode == 0)?true:false">
                <div layout="column" layout-align="center center">
                  <img ng-src="asset/icon/right.png">
                  <span>RIGHT</span>
                </div>
              </md-button>
            </div>
        </div>
      </div>

    </div>
  </div>
  <div flex></div>
</div>
